* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

:root {
    --boss: rgb(160, 160, 160);
    --colors: rgb(210, 198, 198);
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}











body {
    overflow: hidden;
    height: 100vh;
    transition: 2s;
    background: #00ff22;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.header-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    animation: bruh 2s linear infinite;
}

@keyframes bruh {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.header__mobile-menu {
    cursor: pointer;
}

.main {}

.container {}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    transition: 1.5s;
}

.slider__slide {
    flex: 0 0 100%;
    height: 100%;
    width: 100%;
    transition: 1.5s;
}



/* .slider__slide.active-slide:nth-child(2) {
    background-color: #ff5500;
}

.slider__slide.active-slide:nth-child(3) {
    background-color: #ff008c;
}

.slider__slide.active-slide:nth-child(4) {
    background-color: #00ffae;
}

.slider__slide.active-slide:nth-child(5) {
    background-color: #f6ff00;
} */

.slider__slide-body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.supra_img {
    position: absolute;
    right: -250px;
    bottom: 0px;
    z-index: 2;
    transition: 0.1s;
}

.supra_img2 {
    position: absolute;
    width: 300px;
    left: 250px;
    top: 50px;
    transition: 0.1s;
}

.mersedes_img {
    position: absolute;
    left: -200px;
    bottom: -100px;
    z-index: 2;
    transition: 0.1s;
}

.mersedes_img2 {
    position: absolute;
    width: 200px;
    top: 0;
    transition: 0.1s;
}

.mersedes_img3 {
    position: absolute;
    width: 300px;
    right: 0;
    bottom: 0;
    transition: 0.1s;
}

.dodge_img {
    position: absolute;
    width: 500px;
    right: 0;
    bottom: 250px;
    z-index: 2;
    transition: 0.1s;
}

.dodge_img2 {
    position: absolute;
    width: 200px;
    right: 100px;
    bottom: 0;
    z-index: 2;
    transition: 0.1s;
}

.dodge_img3 {
    position: absolute;
    width: 600px;
    left: 0;
    top: 100px;
    z-index: 2;
    transition: 0.1s;
}


.volkswagen_img {
    position: absolute;
    z-index: 2;
    right: -250px;
    bottom: -70px;
    transition: 0.1s;
}

.volkswagen_img2 {
    position: absolute;
    left: 50px;
    top: 30px;
    width: 200px;
    z-index: 2;
    transition: 0.1s;
}

.ford_img {
    position: absolute;
    width: 600px;
    left: 0;
    transition: 0.1s;
}

.ford_img2 {
    position: absolute;
    width: 300px;
    top: -50px;
    transition: 0.1s;
}

.ford_img3 {
    position: absolute;
    width: 600px;
    right: -100px;
    bottom: -70px;
    z-index: 2;
    transition: 0.1s;
}


.slider-h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 15%, rgba(0, 0, 0, 1) 32%, rgba(255, 255, 255, 1) 49%, rgba(0, 0, 0, 1) 64%, rgba(255, 255, 255, 1) 80%, rgba(0, 0, 0, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    z-index: 1;
    padding: 100px 0px;
}

.img-car {
    height: 500px;
}

.slider-dots_ul {
    display: flex;
    position: absolute;
    top: 70px;
    left: 400px;
}

.slider-dots_li {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color:
        /* rgba(255, 255, 255, 0.55) */
        black;
    padding: 0px 20px;
    transition: 1s;
    cursor: pointer;
    z-index: 4;
    position: relative;
}

.slider-dots_li:hover {
    color: white;
}

.slider-dots {}

.footer {}